$black: #333;
$white: #E3E8F1;
$primary-100: #FD9340;
$primary-90: #F98A32;
$primary-70: #FEB47A;
$primary-50: #FDC89F;
$primary-30: #FFDFC6;
$primary-10: #FFF5EC;
$BlueGray: #8696BB;

$padding: 24px;

$dot-size: 6px;

$grid-columns: 12;