@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap");

*::selection {
  background-color: $secondary;
  color: black;
}

html,
body {
  -webkit-overflow-scrolling: auto !important;
}

body {
  font-family: "Inter", sans-serif;
  margin: auto !important;
  display: flex;
  margin: 24px auto auto;
  padding: 0 #{$padding};
  width: 100%;
  max-width: 1200px;
  height: 100%;
  color: $black;
  position: relative;
  overflow-x: hidden;
}

#root {
  width: 100%;
  flex: 1;
}

a {
  @include focus-outline();
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Utility classes

.primary {
  color: $primary;
}

.primary-2 {
  color: $primary-60;
}

.white {
  color: $white;
}

.bg-primary {
  background-color: $primary;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
}