@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap");
*, :after, :before {
  box-sizing: border-box;
}

a, b, blockquote, body, canvas, caption, code, div, em, embed, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, label, li, main, nav, object, ol, p, pre, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, main, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.checkbox-rounded {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
.checkbox-rounded::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 1;
  border: 1px solid #E3E8F1;
  color: #8696BB;
}
.checkbox-rounded:checked::before {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22%2398714e%22%20d%3D%22M438.6%20105.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-256%20256c-12.5%2012.5-32.8%2012.5-45.3%200l-128-128c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200L160%20338.7%20393.4%20105.4c12.5-12.5%2032.8-12.5%2045.3%200z%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/50%;
  border: 1px solid #98714e;
}

select {
  outline: 0 solid #98714e;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 100%;
  padding: 18px 24px;
  font-size: 16px;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #E3E8F1;
  color: #8696BB;
}
select:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
select:valid {
  color: #98714e;
}

textarea {
  outline: 0 solid #98714e;
  position: relative;
  width: 100%;
  resize: vertical;
  max-height: 10rem;
  min-height: 56px;
  padding: 18px 24px;
  border: 1px solid #E3E8F1;
  font-size: 16px;
  background: #fff;
  border-radius: 8px 8px 0 8px;
  color: #8696BB;
  line-height: 1.5;
  display: flex;
}
textarea:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
textarea:valid {
  color: #98714e;
}
textarea::after {
  content: "↓";
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
form .field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
form label {
  display: flex;
  flex-direction: column;
  line-height: 22px;
}
form.optional > label {
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
form.optional > label::after {
  content: "(optionnel)";
  position: absolute;
  top: 0;
  left: calc(100% + 8px);
  font-size: 10px;
  font-weight: 700;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #98714e;
}

input {
  outline: 0 solid #98714e;
  width: 100%;
  padding: 18px 24px;
  font-size: 16px;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #E3E8F1;
  color: #8696BB;
}
input:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
input:valid {
  color: #98714e;
}
input::-moz-placeholder {
  color: #8696BB;
}
input::placeholder {
  color: #8696BB;
}
input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #98714e;
  font-size: 16px;
}
input[type=checkbox] {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  margin: 0px;
  border: none;
  padding: 0;
  accent-color: #98714e;
}
input[type=submit] {
  background-color: #98714e;
  width: 100%;
  color: #fff;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #b69170;
}
input[type=date] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: left;
}

.radio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.radio-list input {
  display: none;
}
.radio-list input:checked + label {
  color: #98714e;
}
.radio-list label {
  outline: 0 solid #98714e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 24px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #E3E8F1;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #8696BB;
  line-height: 16px;
  font-weight: 700;
}
.radio-list label:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
.radio-list label.selected {
  color: #98714e;
}
.radio-list label:focus {
  outline: 2px solid #98714e;
  border-color: #98714e;
}

/* Auth
*/
.form-center {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 2rem auto;
}
.form-center h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 2rem;
}

.bottom {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
}
.bottom a {
  font-weight: 600;
  font-size: 14px;
}
.bottom input {
  margin: 25px 0 0;
}

@media (min-width: 480px) {
  .bottom {
    position: relative;
    margin-top: 1rem;
    top: initial;
    bottom: initial;
    left: initial;
    right: initial;
  }
}
h1 {
  display: inline-block;
  font-weight: 600;
  font-size: 40px;
  margin: 0 0 1rem;
}

.field.CGU {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.field.CGU label {
  font-size: 12px;
  flex-direction: row;
}
.field.CGU label a {
  margin-left: 0.25rem;
}
.field.CGU .error {
  bottom: -25px;
}

.field {
  position: relative;
}
.field .error {
  position: absolute;
  bottom: -15px;
  left: 0;
}

.error {
  font-size: 12px;
  color: red;
}

*::-moz-selection {
  background-color: #ffdc51;
  color: black;
}

*::selection {
  background-color: #ffdc51;
  color: black;
}

html,
body {
  -webkit-overflow-scrolling: auto !important;
}

body {
  font-family: "Inter", sans-serif;
  margin: auto !important;
  display: flex;
  margin: 24px auto auto;
  padding: 0 24px;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  color: #333;
  position: relative;
  overflow-x: hidden;
}

#root {
  width: 100%;
  flex: 1;
}

a {
  outline: 0 solid #98714e;
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
a:hover {
  text-decoration: underline;
}

.primary {
  color: #98714e;
}

.primary-2 {
  color: #6e5238;
}

.white {
  color: #E3E8F1;
}

.bg-primary {
  background-color: #98714e;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
}
.card {
  width: 100%;
  border-radius: 12px;
  padding: 20px;
}
.card .head .name {
  font-size: 16px;
  font-weight: 700;
}
.card .head .type {
  font-size: 14px;
}
.card .infos {
  display: flex;
  align-items: center;
  margin: 1rem 0 0;
  padding: 1rem 0 0;
  border-top: 1px solid;
}
.card .infos .info {
  display: flex;
  align-items: center;
}
.card .infos .info .icon {
  margin-right: 0.5rem;
}
.card .infos .info .text {
  font-size: 1rem;
}

.card.profile-card {
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto 20px;
  display: inline;
  padding: 0px;
  overflow: hidden;
  width: 80%;
}
.card.profile-card img {
  width: 100%;
}

.card.pet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.card.pet .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.avatar {
  background: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-empty {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .card.pet {
    width: 150px;
    padding: 16px;
    gap: 10px;
    flex-direction: column;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .card.pet .name {
    font-weight: 600;
  }
  .avatar {
    width: 95px;
    height: 95px;
    margin-right: 0;
  }
  .list {
    flex-direction: row;
    gap: 25px;
  }
  .list a {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: block;
  padding: 16px 0;
  border-radius: 30.5px;
  border: 0;
  background: #98714e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}

.icon {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  margin-right: 10px;
}

/*
 * Layouts
 */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.toolbar.center h1 {
  text-align: center;
}
.toolbar.leftCTA {
  padding-right: 36px;
}
.toolbar.leftCTA h1 {
  text-align: center;
}
.toolbar .back,
.toolbar .edit {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.toolbar .trash {
  outline: 0 solid #98714e;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 12px;
  font-size: 14px;
  border: none;
}
.toolbar .trash:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
.toolbar .edit {
  outline: 0 solid #98714e;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.toolbar .edit:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
.toolbar .back {
  outline: 0 solid #98714e;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 13px;
}
.toolbar .back:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
.toolbar .new-pet:not(.button) {
  outline: 0 solid #98714e;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 11px;
  border-radius: 8px;
  margin-right: 16px;
}
.toolbar .new-pet:not(.button):focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
.toolbar .new-pet.button {
  width: auto;
  padding: 16px 24px;
  margin: 0 16px;
}
.toolbar .logout {
  outline: 0 solid #98714e;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: transparent;
  box-shadow: none;
  padding: 10px 12px;
  font-size: 14px;
  border: none;
  font-weight: 600;
}
.toolbar .logout:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
.toolbar .settings {
  outline: 0 solid #98714e;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: 0 solid #98714e;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 11px;
  border-radius: 8px;
  border: none;
  color: #333;
}
.toolbar .settings:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
.toolbar .settings:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
.toolbar .settings--menu {
  display: none;
  z-index: 1;
}
.toolbar .settings--menu.visible {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  top: calc(100% + 8px);
  right: 0;
  margin: 0;
  padding: 0;
  border: 1px solid #f2f2f2;
  z-index: 2;
}
.toolbar .settings--menu.visible::before {
  content: "";
  position: absolute;
  right: 9px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}
.toolbar .settings--menu.visible button {
  border: none;
  background: none;
  padding: 10px 20px;
  width: 100%;
}
.toolbar .settings--menu.visible button:hover {
  background: #d8dde9;
}
.toolbar .settings--menu.visible li {
  color: #333;
  font-size: 16px;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
  background: #fff;
}
.toolbar .settings--menu.visible li:last-child {
  border-bottom: none;
}
.toolbar h1 {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  text-align: left;
  flex: 1;
}
@media (min-width: 768px) {
  .toolbar h1 {
    font-size: 20px;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
section h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
section .head {
  outline: 0 solid #98714e;
  color: #98714e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  gap: 10px;
}
section .head:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}
section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 -24px;
  padding: 2rem;
  width: calc(100% + 48px);
  background: white;
}
section .content .reason {
  color: #8696BB;
  font-size: 16px;
}
section .content .meet_at {
  font-size: 10px;
  font-weight: 700;
  color: #333;
}

.all-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 0 24px;
}
.all-infos span {
  position: relative;
}
.all-infos span:not(:first-child)::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 4px;
  left: -12px;
  top: calc(50% - 2px);
  background: black;
}

/*
 * Components
 */
.appointment {
  outline: 0 solid #98714e;
}
.appointment:focus {
  outline: 2px solid #98714e;
  outline-offset: 4px;
  transition: outline 50ms linear;
}/*# sourceMappingURL=default.css.map */